In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
%matplotlib inline

In [3]:
df = pd.read_csv('country_vaccinations.csv')

In [4]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...

In [6]:
df_vac = df

In [7]:
df_vac.head() #copiei o df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...

In [8]:
df_vac.drop('iso_code', axis=1, inplace=True)

In [11]:
df_vac.drop(['daily_vaccinations_raw', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million', 'source_name', 'source_website'], axis=1, inplace=True)

KeyError: "['daily_vaccinations_raw' 'total_vaccinations_per_hundred'\n 'people_vaccinated_per_hundred' 'people_fully_vaccinated_per_hundred'\n 'daily_vaccinations_per_million' 'source_name' 'source_website'] not found in axis"

In [10]:
df_vac.head()

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,NaN,NaN,Oxford/AstraZeneca
1,Afghanistan,2021-02-23,NaN,NaN,NaN,1367.0,Oxford/AstraZeneca
2,Afghanistan,2021-02-24,NaN,NaN,NaN,1367.0,Oxford/AstraZeneca
3,Afghanistan,2021-02-25,NaN,NaN,NaN,1367.0,Oxford/AstraZeneca
4,Afghanistan,2021-02-26,NaN,NaN,NaN,1367.0,Oxford/AstraZeneca

In [13]:
df_vac.drop(['people_vaccinated', 'people_fully_vaccinated'], axis=1, inplace=True)

In [14]:
df_vac = df_vac.rename(columns={'country': 'pais', 'data':'data', 'total_vaccinations':'total_vacinas', 'daily_vaccinations':'vacinaçoes_diarias', 'vaccines':'vacinas'})

In [15]:
df_vac = df_vac.rename(columns={'date': 'data'})

In [16]:
df_vac.head()

,pais,data,total_vacinas,vacinaçoes_diarias,vacinas
0,Afghanistan,2021-02-22,0.0,NaN,Oxford/AstraZeneca
1,Afghanistan,2021-02-23,NaN,1367.0,Oxford/AstraZeneca
2,Afghanistan,2021-02-24,NaN,1367.0,Oxford/AstraZeneca
3,Afghanistan,2021-02-25,NaN,1367.0,Oxford/AstraZeneca
4,Afghanistan,2021-02-26,NaN,1367.0,Oxford/AstraZeneca

In [17]:
paises = df_vac.groupby('pais')

Qual país mais imunizou até agora no mundo?

In [18]:
paises['total_vacinas'].max().sort_values(ascending=False)

pais
United States          126509736.0
China                   74956000.0
India                   48494594.0
United Kingdom          30279360.0
England                 25476409.0
                          ...
Falkland Islands            1732.0
Egypt                       1315.0
Trinidad and Tobago          991.0
Montserrat                   932.0
Bahamas                      110.0
Name: total_vacinas, Length: 150, dtype: float64

Resposta: United States of America - USA

Total de 126 milhões

In [19]:
df_vac[df_vac['pais'] == 'Brazil'].sort_values('data', ascending=False)[:2]
#fazendo slice do país por data

,pais,data,total_vacinas,vacinaçoes_diarias,vacinas
1064,Brazil,2021-03-22,14116560.0,317286.0,"Oxford/AstraZeneca, Sinovac"
1063,Brazil,2021-03-21,13562176.0,305644.0,"Oxford/AstraZeneca, Sinovac"

Quais os 10 países que mais vacinaram?

In [20]:
lista_10_ = paises['total_vacinas'].max().sort_values(ascending=False).head(10)

In [22]:
imunizados = paises['total_vacinas'].max().sort_values(ascending=False)

In [23]:
imunizados = imunizados.to_frame().reset_index()

RESPOSTA:

pais

1- United States     126509736.0

2- China              74956000.0

3- India              48494594.0

4- United Kingdom     30279360.0

5- England            25476409.0

6- Brazil             14116560.0

7- Turkey             13265952.0

8- Germany            10862288.0

9- Israel              9780097.0

10-Chile               8725757.0

In [24]:
lista_10_

pais
United States     126509736.0
China              74956000.0
India              48494594.0
United Kingdom     30279360.0
England            25476409.0
Brazil             14116560.0
Turkey             13265952.0
Germany            10862288.0
Israel              9780097.0
Chile               8725757.0
Name: total_vacinas, dtype: float64

# Pergunta 3: Qual é a vacina mais utilizada no mundo?

In [25]:
vacinas = df_vac.groupby('vacinas')

In [26]:
vacinas_mais_usadas = vacinas['pais'].nunique().sort_values(ascending=False)

In [49]:
vacinas_mais_usadas #posso filtrar para ver as mais usadas

vacinas
Oxford/AstraZeneca                                                                    36
Moderna, Oxford/AstraZeneca, Pfizer/BioNTech                                          23
Pfizer/BioNTech                                                                       22
Oxford/AstraZeneca, Pfizer/BioNTech                                                   13
Sputnik V                                                                              9
Sinopharm/Beijing                                                                      7
Pfizer/BioNTech, Sinovac                                                               6
Moderna, Pfizer/BioNTech                                                               6
Sinovac                                                                                4
Oxford/AstraZeneca, Sinovac                                                            3
Sinopharm/Beijing, Sputnik V                                                           2
Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V                      2
Pfizer/BioNTech, Sinopharm/Beijing                                                     2
Oxford/AstraZeneca, Sinopharm/Beijing                                                  2
Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V                                       2
Pfizer/BioNTech, Sputnik V                                                             1
Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac                                            1
Covaxin, Oxford/AstraZeneca                                                            1
EpiVacCorona, Sputnik V                                                                1
Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sputnik V     1
Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V             1
Moderna, Oxford/AstraZeneca                                                            1
Moderna                                                                                1
Johnson&Johnson, Moderna, Pfizer/BioNTech                                              1
Johnson&Johnson                                                                        1
Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik V                                         1
Name: pais, dtype: int64

In [28]:
df_vacinas_mais = vacinas_mais_usadas.to_frame().reset_index() #o reset_index põe um index no dataframe

In [29]:
df_vacinas_mais.rename(columns={'pais': 'Qtd. países usam'}, inplace=True)

In [30]:
df_vacinas_mais

                                              vacinas  Qtd. países usam
0                                  Oxford/AstraZeneca                36
1        Moderna, Oxford/AstraZeneca, Pfizer/BioNTech                23
2                                     Pfizer/BioNTech                22
3                 Oxford/AstraZeneca, Pfizer/BioNTech                13
4                                           Sputnik V                 9
5                                   Sinopharm/Beijing                 7
6                            Pfizer/BioNTech, Sinovac                 6
7                            Moderna, Pfizer/BioNTech                 6
8                                             Sinovac                 4
9                         Oxford/AstraZeneca, Sinovac                 3
10                       Sinopharm/Beijing, Sputnik V                 2
11  Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...                 2
12                 Pfizer/BioNTech, Sinopharm/Beijing                 2
13              Oxford/AstraZeneca, Sinopharm/Beijing                 2
14   Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V                 2
15                         Pfizer/BioNTech, Sputnik V                 1
16        Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac                 1
17                        Covaxin, Oxford/AstraZeneca                 1
18                            EpiVacCorona, Sputnik V                 1
19  Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...                 1
20  Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, ...                 1
21                        Moderna, Oxford/AstraZeneca                 1
22                                            Moderna                 1
23          Johnson&Johnson, Moderna, Pfizer/BioNTech                 1
24                                    Johnson&Johnson                 1
25     Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik V                 1

In [60]:
pais_vacina = paises['vacinas'].unique()
pais_vacina = pais_vacina.to_frame().reset_index()
pais_vacina

            pais                                vacinas
0    Afghanistan                   [Oxford/AstraZeneca]
1        Albania                      [Pfizer/BioNTech]
2        Algeria                            [Sputnik V]
3        Andorra                      [Pfizer/BioNTech]
4         Angola                   [Oxford/AstraZeneca]
..           ...                                    ...
145      Uruguay             [Pfizer/BioNTech, Sinovac]
146    Venezuela                            [Sputnik V]
147      Vietnam                   [Oxford/AstraZeneca]
148        Wales  [Oxford/AstraZeneca, Pfizer/BioNTech]
149     Zimbabwe                    [Sinopharm/Beijing]

[150 rows x 2 columns]

# Pergunta 4: Qual país possui o maior número de vacinados por dia?

In [31]:
df_vac.head()

,pais,data,total_vacinas,vacinaçoes_diarias,vacinas
0,Afghanistan,2021-02-22,0.0,NaN,Oxford/AstraZeneca
1,Afghanistan,2021-02-23,NaN,1367.0,Oxford/AstraZeneca
2,Afghanistan,2021-02-24,NaN,1367.0,Oxford/AstraZeneca
3,Afghanistan,2021-02-25,NaN,1367.0,Oxford/AstraZeneca
4,Afghanistan,2021-02-26,NaN,1367.0,Oxford/AstraZeneca

In [32]:
paises = df_vac.groupby('pais')

In [36]:
paises_vac_diaria_max = paises['vacinaçoes_diarias'].max().sort_values(ascending=False)

In [37]:
paises_vac_diaria_max = paises_vac_diaria_max.to_frame().reset_index()

In [38]:
paises_vac_diaria_max

                  pais  vacinaçoes_diarias
0        United States           2541597.0
1                India           2221023.0
2                China           1916190.0
3       United Kingdom            602266.0
4              England            507875.0
..                 ...                 ...
145         Montserrat                43.0
146            Bahamas                 NaN
147  Equatorial Guinea                 NaN
148             Guinea                 NaN
149               Laos                 NaN

[150 rows x 2 columns]

# Pergunta 5: Qual a média de vacinação por dia por país?

In [39]:
media_vac_diaria = paises['vacinaçoes_diarias'].mean().sort_values(ascending=False)

In [40]:
media_vac_diaria = media_vac_diaria .to_frame().reset_index()
media_vac_diaria

                  pais  vacinaçoes_diarias
0        United States        1.287547e+06
1                China        7.266368e+05
2                India        6.387258e+05
3       United Kingdom        2.911681e+05
4              England        2.451171e+05
..                 ...                 ...
145         Montserrat        3.340000e+01
146            Bahamas                 NaN
147  Equatorial Guinea                 NaN
148             Guinea                 NaN
149               Laos                 NaN

[150 rows x 2 columns]

# Juntando os Dataframes gerados

In [41]:
media_vac_diaria
df_vacinas_mais
imunizados

                    pais  total_vacinas
0          United States    126509736.0
1                  China     74956000.0
2                  India     48494594.0
3         United Kingdom     30279360.0
4                England     25476409.0
..                   ...            ...
145     Falkland Islands         1732.0
146                Egypt         1315.0
147  Trinidad and Tobago          991.0
148           Montserrat          932.0
149              Bahamas          110.0

[150 rows x 2 columns]

In [44]:
df_vacinas_mais

                                              vacinas  Qtd. países usam
0                                  Oxford/AstraZeneca                36
1        Moderna, Oxford/AstraZeneca, Pfizer/BioNTech                23
2                                     Pfizer/BioNTech                22
3                 Oxford/AstraZeneca, Pfizer/BioNTech                13
4                                           Sputnik V                 9
5                                   Sinopharm/Beijing                 7
6                            Pfizer/BioNTech, Sinovac                 6
7                            Moderna, Pfizer/BioNTech                 6
8                                             Sinovac                 4
9                         Oxford/AstraZeneca, Sinovac                 3
10                       Sinopharm/Beijing, Sputnik V                 2
11  Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...                 2
12                 Pfizer/BioNTech, Sinopharm/Beijing                 2
13              Oxford/AstraZeneca, Sinopharm/Beijing                 2
14   Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V                 2
15                         Pfizer/BioNTech, Sputnik V                 1
16        Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac                 1
17                        Covaxin, Oxford/AstraZeneca                 1
18                            EpiVacCorona, Sputnik V                 1
19  Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...                 1
20  Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, ...                 1
21                        Moderna, Oxford/AstraZeneca                 1
22                                            Moderna                 1
23          Johnson&Johnson, Moderna, Pfizer/BioNTech                 1
24                                    Johnson&Johnson                 1
25     Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik V                 1

In [45]:
media_vac_diaria

                  pais  vacinaçoes_diarias
0        United States        1.287547e+06
1                China        7.266368e+05
2                India        6.387258e+05
3       United Kingdom        2.911681e+05
4              England        2.451171e+05
..                 ...                 ...
145         Montserrat        3.340000e+01
146            Bahamas                 NaN
147  Equatorial Guinea                 NaN
148             Guinea                 NaN
149               Laos                 NaN

[150 rows x 2 columns]

In [61]:
dados_tratados = pd.merge(imunizados, media_vac_diaria)
dados_tratados = pd.merge(dados_tratados, pais_vacina)

In [62]:
dados_tratados

,pais,total_vacinas,vacinaçoes_diarias,vacinas
0,United States,126509736.0,1.287547e+06,"[Johnson&Johnson, Moderna, Pfizer/BioNTech]"
1,China,74956000.0,7.266368e+05,"[Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac]"
2,India,48494594.0,6.387258e+05,"[Covaxin, Oxford/AstraZeneca]"
3,United Kingdom,30279360.0,2.911681e+05,"[Oxford/AstraZeneca, Pfizer/BioNTech]"
4,England,25476409.0,2.451171e+05,"[Oxford/AstraZeneca, Pfizer/BioNTech]"
...,...,...,...,...
145,Falkland Islands,1732.0,1.470000e+02,[Oxford/AstraZeneca]
146,Egypt,1315.0,2.190000e+02,[Sinopharm/Beijing]
147,Trinidad and Tobago,991.0,7.141667e+01,[Oxford/AstraZeneca]
148,Montserrat,932.0,3.340000e+01,[Oxford/AstraZeneca]
149,Bahamas,110.0,NaN,[Oxford/AstraZeneca]

# EXPORTANDO OS DADOS (CSV e JSON)

In [66]:
dados_tratados.to_csv('estatistica_vacina_24_03.csv', index=True, sep=',')

In [67]:
dados_tratados.to_json('estatistica_vacina_24_03.json', orient='records')